.side-drawer {
  height: 100%;
  background: black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  color: white;
}

.toggleNavUl {
  display: block;
  text-align: right;
  list-style: none;
  padding-right: 15px;
}

li {
  display: inline-block;
  padding: 0;
}

.mbl-logo {
  text-align: left;
  padding: 0 15px;
  margin: 10px 0 0;
  color: black;
  display: block;
}

.mbl-menu-user,
.mbl-menu-user {
  display: block;
}

.side-drawer {
  text-align: left;
}

.mbl-ul {
  padding-left: 15px;
}

/* a.login-logout.mbl-menu-links{
text-decoration: none;
} */

.mbl-links {
  color: white;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
