
.main-panels{
    margin-bottom: 30px;
}
.img-box{
    height: 150px;
    width: 100%;
    border: 1px solid green;
}

.post-content{
    border: 1px solid green;
    height: 100px;
    width: 100%;
}

.comments-content{
    border: 1px solid green;
    height: 50px;
    width: 100%;
}