nav {
  background: black;
  color: white;
}
.nav-grid {
  display: grid;
  grid-template-columns: 60% 35%;
}

.nav-grid-item-2 {
  display: flex;
  justify-content: flex-end;
}

.top-ul {
  display: none;
  text-align: right;
  list-style: none;
  padding-right: 15px;
}

li {
  display: inline-block;
  padding: 0 10px;
}

.logo > a {
  text-align: left;
    padding: 7px 0 2px;
    margin: -1px -10px 5px;
    color: white;
    text-decoration: none;
}

.top-menu-link > a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.top-menu-link > a:hover {
  color: salmon;
}

link {
  color: white;
}

.logo > a:hover {
  color: salmon;
}

@media screen and (min-width: 678px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 20% 75%;
  }
  .logo {
    margin: 10px 0 5px;
  }
}

@media screen and (min-width: 880px){
  .top-ul {
    display: block;
  }
}
