nav {
  background: black;
  color: white;
}
.nav-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.nav-grid-item-2 {
  display: flex;
  justify-content: flex-end;
}

.top-ul {
  display: none;
  text-align: right;
  list-style: none;
  padding-right: 15px;
}

li {
  display: inline-block;
  padding: 0 10px;
}

.logo > a {
  text-align: left;
  padding: 7px 0 2px;
  margin: -1px -10px 5px;
  color: white;
  text-decoration: none;
}

.top-menu-link > a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.top-menu-link > a:hover {
  color: salmon;
}

link {
  color: white;
}

.bookmark {
  color: red;
  font-size: 24px;
  display: inline;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.logo > a:hover {
  color: salmon;
}

@media screen and (min-width: 678px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 20% 76%;
  }
  .logo {
    margin: 10px 0 5px;
  }
}

@media screen and (min-width: 880px) {
  .bookmark {
    color: red;
    font-size: 30px;
    margin-top: 15px;
  }
  .top-ul {
    display: block;
  }
}
